body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Helvetica;
  overflow: hidden !important;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CBS {
  background: #ffffff;
  box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.CF15 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.CF18 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 20px;
}

.common-select {
  background: #ffffff;
  border: 1px solid #f2f3f4;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  width: 180px;
  padding: 15px 20px;

  background-image: url("./assets/down_arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 20px;
  margin-top: 10px;

  /* Grey */

  color: #667685;
}

.common_header {
  /* font-family: Neue Helvetica; */
  font-style: normal;
  font-weight: 450;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #001b34;
  margin-bottom: 15px;
  width: 100%;
}

/* TAB_START */

.Tab_Bar_Design {
  background-color: #fff;
}

.Tab_bar_Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}
.Tab_Bar_Design {
  width: fit-content;
  display: flex;
  padding: 5px;
  border-radius: 10px;
}

.Tab_Bar_Design div {
  padding: 10px 50px;
  text-align: center;
  color: #001b34;
}

.Active_Tab {
  background-color: #ff0066;
  color: #fff !important;
  border-radius: 5px;
}

/* TAB_END */
@media (max-width: 2100px) {
  .CF15 {
    font-size: 18px;
  }

  .CF18 {
    font-size: 20px;
  }
}
@media (max-width: 1700px) {
  .CF15 {
    font-size: 14px;
  }

  .CF18 {
    font-size: 16px;
  }
}

@media (max-width: 961px) {
  .Tab_Bar_Design div {
    padding: 5px 35px;
  }
  .common-select {
    padding: 10px 20px;
  }
  .SideBarLink {
    height: 55px;
  }
}

@media (max-width: 1350px) {
  .Tab_Bar_Design div {
    padding: 8px 40px;
  }
  .common-select {
    padding: 12px 20px;
  }
  .SideBarLink {
    height: 55px;
  }
  .CF15 {
    font-size: 13px;
  }

  .CF18 {
    font-size: 16px;
  }
}
